@model AppTarefas.Models.Categoria

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar categoria</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoriaId" />
            <div class="form-group mt-3">
                <label asp-for="CategoriaNome" class="control-label mb-2"></label>
                <input asp-for="CategoriaNome" class="form-control" />
                <span asp-validation-for="CategoriaNome" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="CategoriaCor" class="control-label mb-2"></label>
                <input asp-for="CategoriaCor" type="color" class="form-control" />
                <span asp-validation-for="CategoriaCor" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn save fw-bold text-white" />
                <a asp-action="Index" class="btn btn-secondary fw-bold text-white">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
