@{
    ViewData["Title"] = "Desenvolvedores";
}


<h3 class="text-center m-3">Desenvolvedores</h3>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 justify-content-center">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="~/img/Gil_Goiaba.jpg" alt="I got a gun" />
                <div class="card-header"><h4>Vinícius</h4></div>
                <div class="card-body">
                    <h5 class="card-subtitle">Uma pessoa que é uma negação em JS e razor, e principal motivo do choro do Sérgio durante o banho.</h5>
                </div>
                <div class="card-footer"><h4>Oi, Sérgio</h4></div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top " src="~/img/GPT.jpg" alt="I got a gun" />
                <div class="card-header"><h4>Chat GPT</h4></div>
                <div class="card-body">
                    <h5 class="card-subtitle">Melhor amigo do programador e do Vinícius, porém ele pensa muito além de todos os demais, logo, para nós meros humanos, seus códigos não fazem o menor sentido.</h5>
                    
                </div>
                <div class="card-footer"><h4>Actually</h4></div>
            </div>
        </div>
        
    </div>
</div>