@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-6 mt-3 mb-2">Bem Vindo ao</h1>
    <h1 class="display-4 mb-5">App Lista de Tarefas</h1>

    <p class="lead">Controle suas tarefas de forma rápida e segura.</p>
</div>
