@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-6 mt-3 mb-2">Bem Vindo ao</h1>
    <h1 class="display-4 mb-5">WebCheck - Lista de Tarefas</h1>
    <div class="container">
        <div class="carousel slide" id="slider" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button class="active" data-bs-target="#slider" data-bs-slide-to="0"></button>
                <button class="active" data-bs-target="#slider" data-bs-slide-to="1"></button>
                <button class="active" data-bs-target="#slider" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner mb-3">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="~/img/CheckListManual.jpg" /><div class="carousel-caption d-none d-md-block bg-dark">
                        <h5>Está precisando de um app que mostre seus afazeres?</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/CheckListManual2.jpg" /><div class="carousel-caption d-none d-md-block bg-dark">
                        <h5>Porém você está cansado de anotar em blocos de notas físicos ou até mesmo em seu computador?</h5>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="~/img/CheckList.jpg" /><div class="carousel-caption d-none d-md-block bg-dark">
                        <h5>Te apresentamos o WebCheck!</h5>
                        <p>O WebCheck é um sistema que lhe fornece total controle sobre seus afazeres, dando-lhe a flexibilidade de categorizar as atividades e de modificar o status da mesma.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-target="#slider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" data-bs-target="#slider" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>

        </div>
    </div>
    <p class="lead">Controle suas tarefas de forma rápida e segura.</p>
</div>
