@model AppTarefas.Models.Status

c

<h1>Adicionar status</h1>

<h4>Status</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StatusNome" class="control-label mb-3"></label>
                <input asp-for="StatusNome" class="form-control" placeholder="Digite o status" />
                <span asp-validation-for="StatusNome" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Adicionar" class="btn add text-white" />
                <a asp-action="Index" class="btn btn-secondary fw-bold">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
