@model AppTarefas.Models.Status

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do status</h1>

<div>
    <h4>Status</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StatusId" class="btn edit text-white">Editar</a>
    <a asp-action="Index" class="btn btn-secondary fw-bold text-white">Voltar</a>
</div>
